
body{
    font-family: 'Righteous', cursive;
    background-image: url('../assets/image/bg.jpg');
}
hr{
    margin: 1%;
}

.home{
    display: flex;
}




/*----------------------------------------------------------------*/
/*-------------------------pageFormations-------------------------*/
/*----------------------------------------------------------------*/
#pageFormation{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    /* background-image: url('../assets/image/bg.jpg'); */
    text-align: justify;
}
#pageFormation h3{
    text-decoration: underline;
}
.contFormation{
    width: 100%;
    height: 100%;
    padding-top: 3vh;
}
.devWeb{
    position: relative;
    width: 50%;
    height: 30vh;
    border-right: 1px solid black;
    padding-right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.autreDev{
    position: relative;
    width: 50%;
    height: 30vh;
    left: 35%;
    padding-left: 1%;
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mum{
    position: relative;
    width: 50%;
    height: 30vh;
    border-right: 1px solid black;
    padding-right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bgDevWeb{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.bgDevAuto{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.bgMum{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
/*----------------------------------------------------------------*/
/*--------------------------finFormations-------------------------*/
/*----------------------------------------------------------------*/

#pageExperience{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

/*----------------------------------------------------------------*/
/*--------------------------debutProjet---------------------------*/
/*----------------------------------------------------------------*/
#pageProjet{
    /* display: none; */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}
/*----------------------------------------------------------------*/
/*----------------------------finProjet---------------------------*/
/*----------------------------------------------------------------*/

.retour{
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 2em;
    color: black;
}

@media screen and (max-width: 800px){
    .home{
        display: block;
    }
    #aPropos{
        height: 100vh;
        width: 100vw;
        background-color: red;
    }
    .navigation{
        height: 10vh;
        width: 100vw;
        background-color: blue;
    }
    .compGeneral{
        height: 25vh;
        margin: 0;
    }
}